body {
  margin: 0;
  padding: 0;
  font-family:Roboto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
}
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(https://example.com/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'),
    local('MaterialIcons-Regular'),
    url(https://example.com/MaterialIcons-Regular.woff2) format('woff2'),
    url(https://example.com/MaterialIcons-Regular.woff) format('woff'),
    url(https://example.com/MaterialIcons-Regular.ttf) format('truetype');
}

*{box-sizing: border-box;-webkit-box-sizing: border-box;}
.virtualkey-header{background: #ffffff!important;min-height: 56px;color: #777777;}
.virtualkey-header h6{line-height: 1;}
.virtualkey-header span{color: #f4940b;}
.virtualkey-header-infodesktop span{color:#777777;}
.virtualkey-sidebar{   
  height: calc(100vh - 64px);
  background: #ffffff;
  position:absolute;
  vertical-align: top;
  width: 250px;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  white-space: nowrap;
  z-index: 1;
  padding-top: 50px;
}

 
  .virtualkey-body .virtualkey-sidebar nav{   
   padding:0;}
   .virtualkey-body .virtualkey-sidebar nav > div.active{   
    background: #0e8d4b;
    border-left: 5px solid #f4940b;
  }
  .material-icons.tick{vertical-align: middle;font-weight:bold;}
  .green-text .material-icons.tick{font-size: 16px;}
  .virtualkey-sidebar .virtualkey-sidebar-text{padding:0}
  .virtualkey-body .virtualkey-sidebar nav > div:hover{   
    background: #0e8d4b;
    border-left: 5px solid #f4940b;
  }
  
  .virtualkey-body .virtualkey-sidebar nav .virtualkey-sidebar-menu:hover > div{   
   color:#ffffff!important;
  }
  .virtualkey-body .virtualkey-sidebar nav > div:hover .virtualkey-sidebar-text span{   
    color:#ffffff;
    font-weight: 500;
   }
  .virtualkey-body .virtualkey-sidebar nav > div{   
    border-left: 5px solid transparent;
    padding:15px 18px;
  }
  .virtualkey-body .virtualkey-sidebar nav .virtualkey-sidebar-menu > div , .virtualkey-body .virtualkey-sidebar nav .virtualkey-sidebar-text{   
    color:#777777;
  }
  .virtualkey-body .virtualkey-sidebar nav .virtualkey-sidebar-menu.active > div , .virtualkey-body .virtualkey-sidebar nav .active .virtualkey-sidebar-text span{   
    color:#ffffff;
  }
.virtualkey-body .virtualkey-container{
  background: #EFF6F4;
  padding: 16px;
  display: inline-block;
  vertical-align: top;
  width: calc(100% - 250px);
  margin-left: 250px;
  height:100vh;
overflow:auto;
-webkit-transition: all 0.5s ease;
-moz-transition: all 0.5s ease;
-o-transition: all 0.5s ease;
transition: all 0.5s ease;
}
.border-box{background: #ffffff;
  border: 1px solid #ccc;
  padding: 15px;}
  .padding-zero{padding:0!important;}

    .tripinfo-image img{
      width: 100%;
      height:160px;
    }
    .logo{  
        width: 150px;
      height: 30px;
    }
    .virtualkey-header-navicon{position: absolute!important;top:8px;left:185px;padding: 7px!important;display: none!important;}
    .virtualkey-header-navicon i{font-size: 32px;}
    .virtualkey-header-infodesktop > div{background: transparent!important;}
    .virtualkey-header-infodesktop img{border-radius: 16px;width:20px!important;height:20px!important;}
    .virtualkey-header-infomobile{display: none;}
    .virtualkey-header-infomobile > div{background: transparent!important;}
    .virtualkey-header-infomobile img{border-radius: 16px;width:20px!important;height:20px!important;}
    .keycode-container{padding:15px 0;justify-content: center;align-items: center;}
    .devices-block button , .keycode-container button{background: #0e8d4b!important;border-radius: 40px;padding-right: 8px;}
    .devices-block button , .keycode-container span{padding-top: 2px;}
    .devices-block button .material-icons , .keycode-container button .material-icons{font-size: 33px;margin-left: 7px;color: #0e8d4b; background: #ffffff; border-radius: 100%; padding: 4px;}
    .devices-icons i{    color: #0e8d4b;
      font-size: 16px;
      margin: 20px 5px 0 0;}
      .keycode-container h6{    color: #515252!important;
        font-weight: 500;
        font-size: 18px;}
    .keycode-number span{     padding: 0px 14px;
      border: 1px solid #d6d6d6;
      margin: 5px 15px 10px 0;
      display: inline-block;
      color: #555555!important;
      font-size: 36px;
      font-weight: 500;
      border-radius: 5px;}
      .devices-block .MuiTypography-root-69{font-weight: bold;font-size: 14px;}
    .MuiChip-root-107{background-color: transparent!important;}
    .devices-block button{margin: 10px 0 0 0;}
    .devices-block button + div{margin-bottom:25px;}
    button.share-btn{background: #f4940b;text-transform: none;}
    button.share-btn:hover{background: #f4940b;}
    .green-text{color:#0e8d4b!important;}
    .keycode-container .green-text{font-size: 13px!important;font-weight: 500;}
    .lock-devices-tabs{box-shadow: none!important;background: transparent!important;margin-bottom: 0px;}
    .lock-devices-tabs button.active{border-bottom:4px solid #f4940b;color: #515252;}
    .lock-devices-tabs button{border-bottom:4px solid transparent;min-width: 110px!important;font-size: 18px;text-transform: none;}
    .lock-devices-tabs button .MuiTab-label-297{font-size: 17px;text-transform: none;}
    .address-container li{color:#f4940b;padding-left: 15px;
      padding-right: 15px;    align-items: flex-start!important;}
      .address-container{padding:0!important;position: relative;}
      .address-container hr{display: none!important;}
      .slidericon{position: absolute; top: 3px; right: 5px; font-size: 35px; color: #999999;cursor: pointer;display: none;}
    .btn-top button{margin-top: 45px;text-transform: none;}
    .MuiChip-avatar-119{color:#f4940b!important;}
    .lock-devices-tabs button.active .MuiTab-label-297{color:#444444}
    .viewtrips-container{position: relative;}
    
    .viewtrips-container select{    position: absolute;
      right: 14px;
      top: 13px;
      padding: 5px 12px;
      border-radius: 16px;
      border: 1px solid #cccccc;
      color: #0e8d4b;font-size: 15px;}
      .ellipsis > div > div{padding:0;}
      .ellipsis > div > div:focus{background: none!important;}
      .ellipsis:before{border-bottom:0!important;transition: none!important;}
      .ellipsis:after{border-bottom:0!important;transition: none!important;}
      .ellipsis:hover{border:0!important;}
      
      .side-icon-outline{    color: #f4940b;
        margin: 0px 20px 0px 10px;
        vertical-align: middle;}
        .padd-15{padding: 15px;}
        .tripinfo-container , .lockdevices-container{padding-top:0!important;}
        .low-padding{padding-bottom: 0!important;}
        .side-icon-morevert{padding-bottom: 0!important;}
        .lockdevices-container .border-box > div:first-child{border-bottom: 2px solid rgba(0, 0, 0, 0.12);}
        .lockdevices-container hr{height:2px!important;}
    @media screen and (max-width:1024px){
      .tripinfo-container , .lockdevices-container , .viewtrips-container{max-width:calc(100vw - 8px)!important;
        flex-basis: 100%!important;}
    }
    @media screen and (max-width:992px){
      .keycode-number span{ margin: 5px 2% 10px 0; }
      .keycode-container{text-align: center;}
      .btn-top button{margin-top: 15px;}
     
      .virtualkey-body .virtualkey-container{margin-left: 0;width:100%;}
      .lock-devices-tabs button{min-width: auto;}
      .side-icon-outline{display:none;}
      .ellipsis i{right:-10px!important;}
      .lock-devices-tabs button .MuiTab-label-297{font-size:16px!important;}
      .virtualkey-header-infodesktop{display:none;}
      .virtualkey-header-infomobile{display:block;}
      .virtualkey-header-navicon{display: block!important;}
      .virtualkey-sidebar.desktop{display: none!important;}
      .virtualkey-sidebar.mobile{display: block!important;position: relative;}
      .virtualkey-container{width:100%!important;margin-left: 0!important;}
      
    }
    @media screen and (max-width:768px){
      .virtualkey-header-navicon{top:5px;left:0;}
      .logo{margin-left: 47%;}
      .virtualkey-header-infomobile > div{width:25px;display: inline-block;}
      .viewtrips-container h5{margin-top: 12px;font-size: 18px;}
      .side-icon-morevert button.share-btn{font-size: 13px;padding: 8px;}
      .side-icon-morevert{padding: 12px 8px 12px 0!important;}
      .low-padding{padding: 8px 0 0 6px!important;}
      .lock-devices-tabs button{min-height: 56px;min-width: 65px!important;font-size: 16px;}
      .lock-devices-tabs button > span > span{padding:6px 8px!important;}
      .lockdevices-container .border-box > div:first-child{margin-bottom: 0;}
      .keycode-container h6{text-align: center;}
      
          } 
    @media screen and (max-width:767px){
.onmobile-hide{display: none;}
.slidericon{display: inline-block;}
.address-container{overflow: hidden;max-height: 38px;}
    } 
    @media screen and (max-width:650px){
      .logo{margin-left: 35%;}
      
          } 

    